
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f7; 
}

.footer_pag1 {
    background: radial-gradient(ellipse at center, #2b425c, #1e4672);
    
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    font-size: 14px;
    justify-content: space-around;
    padding: 50px 5%;
    gap: 30px; 
}

.div_foot {
    display: flex;
    flex-direction: column;
    width: 220px; 
    align-items: flex-start;
    text-align: left;
    gap: 15px;
}

.div_icone_foot {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.fot_meuP{
    display: flex;
    flex-direction: row;
    font-size: 23px;
    font-weight: bold;
}

.meu_fot{
    color: #abc54d;
}

.img_icone_foot {
    width: 30px;
}

.tit_foot {
    font-size: 18px;
    font-weight: bold;
}

.txt_foot {
    color: #e0d4d4;
    font-size: 14px;
    transition: color 0.3s;
}

.txt_foot:hover {
    color: #abc54d;
    text-decoration: underline;
}

.img_icone_foot_txt {
    width: 20px;
}

.icone_social_foot {
    width: 25px;
    transition: transform 0.3s;
}
.icone_social_foot:hover{
    transform: scale(1.1);
}

.redes_foot {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


@media (max-width: 768px) {
    
    .footer_pag1 {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    .div_foot {
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }
    .txt_foot {
        align-self: center; 
    }
}