*{
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header_pag{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    font-size: 25px;
    gap: 50px;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 100000;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_pag.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.div_icone{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 100px;
}

.img_icone{
    width: 50px;
}

.pag_home{
    background-color: #f2f2f7;
    height: 700px;
}

.links_header{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    padding-left: 250px;
}

.pag_home{
    padding: 150px 80px 20px 80px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img1_home{
    width: 45%;
    height: 400px;
}

.texto_home{
    display: flex;
    flex-direction: column;
    padding-right: 90px;
    width: 800px;
    gap: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.tit_home{
    font-size: 40px;
    font-weight: bold;
}

.desc_home{
    font-size: 18px;
    color: rgb(63, 62, 62);
    padding-bottom: 13px;
}

.div_pesquisa_home{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pesquisa_home{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e8eaed;;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px
}

.icone_pesquisa_home{
    width: 20px;
    height: 20px;
}

.inp_pesq{
    width: 360px;
}

.inp_pesq:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(195, 224, 203, 0.25); 
}

.subm_pesq_home{
    background-color: black;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    font-size: 15px;
}

.dados{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tit_dados{
    font-size: 18px;
}

.text_dados{
    font-size: 13px;
    color: rgb(131, 129, 129);
}

.txt_parques{
    background-color: #fafafe;
    text-align: center;
    height: 10000000px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tit_parques{
    font-size: 17px;
    font-weight: 500;
}

.desc_parque{
    align-self: center;
    width: 690px;
}