.header_pag{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    gap: 50px;
    justify-items: center;
}

.div_icone{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 100px;
}

.img_icone{
    width: 50px;
}

.pag_home{
    background-color: #F0F2F5;
    height: 100000px;
}

.links_header{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    padding-left: 250px;
}